button {
    @include hover;

    cursor: pointer;

    width: 100%;
    padding: 1.5rem 4rem;

    font-size: 1.3rem;
    color: $light-foreground;

    background-color: $light-blue;
    border: none;
    border-radius: 0.35em;
    outline-color: $light-blue-active;

    &:hover {
        background-color: $light-blue-hover;
    }

    &:active {
        background-color: $light-blue-active;
    }
}
